[submodule "kafka-connect-opensky"]
	path = kafka-connect-opensky
	url = https://github.com/nbuesing/kafka-connect-opensky
	branch = master
[submodule "ksqldb-udfs"]
	path = ksqldb-udfs
	url = https://github.com/nbuesing/ksqldb-udfs
