[submodule "opensky-source-connector"]
	path = opensky-source-connector
	url = https://github.com/nbuesing/opensky-source-connector
	branch = master
[submodule "ksqldb-udfs"]
	path = ksqldb-udfs
	url = https://github.com/nbuesing/ksqldb-udfs
	branch = master
